:root {
  --color1: #ffffff;
  --color2: #dbdada;
  --color3: #343a40;
  --color4: #56a6e8;
  --color5: #4f4f50;
  --color6: #0f0f0f;
  --color7: #4a5aed;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color2);
  color: var(--color6);
}

html,
body,
ul,
table,
p {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  color: var(--color1);
  text-decoration: none;
}

/*! HEADER */

header {
  background-color: var(--color4);
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

header ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

/*! HOMEPAGE SECTION */

.homepage {
  background-color: var(--color1);
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.homepage .homepage-logo {
  display: flex;
  align-items: center;
}

.homepage .homepage-logo img {
  width: 100px;
  height: 120px;
  margin-right: 20px;
  cursor: pointer;
}
.homepage .homepage-logo h2 {
  margin: 0;
}

.homepage .call {
  display: flex;
  align-items: center;
}

.homepage .call a {
  color: var(--color4);
}
.homepage .call i {
  font-size: 40px;
  color: var(--color4);
  margin-right: 10px;
}
.homepage .call .inBar i {
  font-size: 20px;
  color: #28cc2b;
  margin: auto;
}

.inBar p:last-child span {
  color: #ec2f50;
  font-style: italic;
  font-size: 20px;
}

.homepage .time {
  display: flex;
  align-items: center;
}

.homepage .time i {
  font-size: 40px;
  color: var(--color4);
  margin-right: 10px;
}

.bar:after {
  content: "";
  background-color: #ccc;
  height: 60px;
  width: 1px;
  margin-left: 50px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage button {
  background-color: var(--color4);
  border: none;
  color: var(--color1);
  cursor: pointer;
  width: 200px;
  height: fit-content;
  padding: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.homepage button:hover {
  background-color: var(--color7);
}

/*! BANNER SECTION */

.banner {
  position: relative;
}

.banner img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center center;
  filter: brightness(60%);
  -webkit-filter: brightness(60%);
}

.banner .decoration {
  text-align: left;
  width: 400px;
  font-size: 20px;
  position: absolute;
  z-index: 5;
  top: 50%;
  color: var(--color1);
  margin-left: 50px;
}

.decoration h2 {
  color: var(--color1);
}

.decoration h2 span {
  color: var(--color4);
}

.decoration p {
  color: var(--color1);
  line-height: 22px;
  font-size: 14px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.decoration button.firstBtn {
  border: none;
  background-color: var(--color4);
  color: var(--color1);
  border-radius: 2px;
  padding: 10px 30px;
  cursor: pointer;
}

.decoration button.firstBtn:hover{
  background-color: var(--color7);
}


.decoration button.secondBtn {
  border: none;
  background-color: transparent;
  color: var(--color1);
  margin-left: 20px;
  cursor: pointer;
}

.decoration button.secondBtn span {
  border-bottom: 1px solid var(--color4);
}

.decoration button.secondBtn span:hover{
  border-bottom: 3px solid var(--color7);
}

.banner .banner-menu {
  position: absolute;
  display: flex;
  top: 0;
  width: 100vw;
  justify-content: space-around;
  right: 0px;
  height: 134px;
}

.banner-menu ul {
  list-style-type: none;
}

.banner-menu ul li {
}

/*! FOOTER */

.footer {
  display: flex;
  flex: 1;
  gap: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.sidebar {
  flex: 1;
  background-color: var(--color1);
}

.sidebar > * {
  padding: 30px; /* Tüm içeriklere 30px iç kenar boşluğu */
}

.sidebar .sidebar1 {
  font-size: 30px;
  padding-bottom: 10px;
  position: relative;
}

.sidebar .sidebar1:after {
  content: "";
  background-color: var(--color4);
  width: 50px;
  height: 3px;
  left: 0;
  bottom: 0;
  position: absolute;

  margin-left: 30px;
}

.sidebar .sidebar1:before {
  content: "";
  background-color: #ccc;
  width: 150px;
  height: 3px;
  bottom: 0px;
  right: 0;
  position: absolute;

  margin-right: 30px;
}

.sidebar button {
  border: none;
  background-color: var(--color4);
  color: var(--color1);
  border-radius: 2px;
  width: calc(100% - 30px);
  height: 42px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  line-height: 22px;
}

.sidebar button:hover {
  background-color: var(--color7);
}

.desc {
  flex: 1;
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
}

.desc p {
  padding: 30px;
  flex: 1;
}

.imgDesc {
  position: relative;
}

.imgDesc img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 1;
  object-position: center center;
  filter: brightness(70%);
  -webkit-filter: brightness(70%);
}

.imgDesc h4 {
  position: absolute;
  top: 80%;
  left: 15%;
  color: var(--color2);
}
